<!DOCTYPE html>
<html>
    <head>
        <title>Neon Theme</title>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        <script src="{{ SITEURL }}/theme/js/particles.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/magic.js"></script>
    </head>
    <body> 
        <div id="particles-js"></div>
        <div class="cyber-card">
            <h1>data with lime <img src="{{ SITEURL }}/theme/images/lime.svg" height="30" /></h1>
            <p>Coming soon...</p>
        </div>
    </body>

</html>
