<!DOCTYPE html>
<html>
    <head>
        <title>data with lime</title>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        <script src="{{ SITEURL }}/theme/js/particles.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/magic.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/images/favicon.png">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="data with lime - Explore the fascinating world of data science with me. Feel free to get in touch for any collaborations or queries.">
    </head>
    <body> 
        <div id="particles-js"></div>
        <div class="cyber-card">
            <img class="logo" src="{{ SITEURL }}/theme/images/ian_lime.png" />
            <p> Hi, I'm Karla </p>
            <p> I'm a data scientist/engineer/analyst creatively using data to drive meaningful change in environmental and social landscapes.</p>
            <p> If you would like to connect, please message me at <a href="mailto:karla@datawithlime.com">karla<span class="at">@</span>datawithlime.com</a> </p>
        </div>
    </body>

</html>
