@font-face {
    font-family: 'Neoteric';
    src: url('/theme/fonts/neoteric.ttf');
}

@font-face {
    font-family: 'Neoteric';
    src: url('/theme/fonts/neoteric-bold.ttf');
    font-weight: bold;
}

h1 {
    font-family: 'Neoteric';
    font-size: 2em;
    color: #221a34;
    margin-bottom: 20px;

}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

body {     
    background: #221a34;
    font-family: 'Neoteric';
    
}

.cyber-card {
    background: whitesmoke;
    margin: 25vh auto;
    max-width: 600px;
    padding: 20px;
    color: #221a34;
    border-radius: 5px;
}


